{{ "<!-- Contact -->" | safeHTML}}
<section id="contact">
  <div class="inner">
    <section>
      <form id="contact-form" method="post" action="https://getform.io/f/{{ .Site.Params.Contact.formEmail }}">
        <input type="hidden" id="captchaResponse" name="g-recaptcha-response" />
        <div class="field half first">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" />
        </div>
        <div class="field half">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" />
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="6"></textarea>
        </div>
        <ul class="actions">
          <li>
            <button class="g-recaptcha special" data-sitekey="{{ .Site.Params.Contact.recaptcha }}"
              data-callback="onContactSubmit" data-action="submit">
              {{ .Site.Params.Contact.buttonSend }}
            </button>
          </li>
          <li><input type="reset" value="{{ .Site.Params.Contact.buttonClear }}" /></li>
        </ul>
      </form>
    </section>
    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon alt fa-envelope"></span>
          {{ range .Site.Params.Contact.email }}
          <h3>{{ .title }}</h3>
          <a href="mailto:{{ .email }}">{{ .email }}</a>
          {{ end }}
        </div>
      </section>
      <section>
        <iframe width="540" height="459"
          src="https://969b663c.sibforms.com/serve/MUIFACKslWCiSq6ibJE8_08_pcpC_FXyWytwMms1ng4rNC66Dxny6h2q4Vj8FpX0_STEzRBoYqJh2Xf39Sojx8JLTel-h-BvJDN548ZxihBypST3GQdOvCIB1o5_WLWRozvFPAA1CLBbpIhX5XCh3JJJwrEKEUaWjlIp6R3z0mQHr0bnIJXQZWd6v9yEqbF_fBnTht9RPQCYMhyZ"
          frameborder="0" scrolling="auto" allowfullscreen
          style="display: block;max-width: 100%;margin-top: -2.1em;margin-left: -1.1em;"></iframe>
      </section>
    </section>
  </div>
</section>