{{ "<!-- Scripts -->" | safeHTML}}
    {{ "<!-- jQuery -->" | safeHTML }}
    <script src="{{ "js/jquery.min.js"| absURL }}"></script>
    <script src="{{ "js/jquery.scrolly.min.js"| absURL }}"></script>
    <script src="{{ "js/jquery.scrollex.min.js"| absURL }}"></script>
    <script src="{{ "js/skel.min.js"| absURL }}"></script>
    <script src="{{ "js/util.js"| absURL }}"></script>

    <!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->

    {{ "<!-- Main JS -->" | safeHTML }}
    <script src="{{ "js/main.js"| absURL }}"></script>

    {{ range .Site.Params.custom_js }}
        <script src="{{ . | absURL }}"></script>
    {{ end }}

    <script type="text/javascript">
        (function() {
            window.sib = {
                equeue: [],
                client_key: "185zw09pw1kvyyvgjpx2gdh8"
            };
            window.sendinblue = {};
            for (var j = ['track', 'identify', 'trackLink', 'page'], i = 0; i < j.length; i++) {
            (function(k) {
                window.sendinblue[k] = function() {
                    var arg = Array.prototype.slice.call(arguments);
                    (window.sib[k] || function() {
                            var t = {};
                            t[k] = arg;
                            window.sib.equeue.push(t);
                        })(arg[0], arg[1], arg[2], arg[3]);
                    };
                })(j[i]);
            }
            var n = document.createElement("script"),
                i = document.getElementsByTagName("script")[0];
            n.type = "text/javascript", n.id = "sendinblue-js", n.async = !0, n.src = "https://sibautomation.com/sa.js?key=" + window.sib.client_key, i.parentNode.insertBefore(n, i), window.sendinblue.page();
        })();
        </script>
        <script async defer data-website-id="fe8fcc8f-dbb0-4ad1-b352-e4c90eaca4e8" data-cache="true" src="https://views.satan.website/cooldude.js"></script>